.App{
    display: flex;
    justify-content: space-between;
}

.header{
    //border: black 1px solid;
    background-color: #031439;
    background-image: url(./img/headerNavBackground.png);

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60px;
    }

    .nav{
        //border: #7e0cb1 1px solid;
        display: flex;

        .items{
            display: flex;
            flex-direction: row;
        }

        .items div{
            text-transform: uppercase;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 40px;
            //border: #dc0e0e 1px solid;
            a{
                margin: 10px;
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .App{
        display: flex;
        flex-direction: column;
    }

    .nav{
        display: flex;
        flex-direction: column;
    }

    .header .nav .items {
        flex-direction: column;
        div{
            border-bottom: white 1px solid;
        }
    }
}